/* body{
  width: 0px;
  height: 0px;
  padding: 0px;
} */
.cart-wrapper{
 height: 100px;
 width: 500px;
 border: 1px solid #ccc;
margin-left: 100px;
}
.img-wrapper img{
  width: 100px;
  height: 100px;
  margin-top: -20px;
}
.button-wrapper button{
  background-color: red;
  color: white;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: #333 0px 1px 5px;
}
.item{
  float: left;
  display: inline-block;
  width: 120px;
  height: 70px;
  padding: 20px;
}
.add-cart img{
  width: 80px;
  position: absolute;
  right: 1%;
  top: 1%;
}